@font-face {
    font-family: 'Road Rage';
    src: url('/Styles/Fonts/RoadRage-Regular.ttf');
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/Styles/Fonts/JosefinSans-VariableFont_wght.ttf');
}