@import url("reset.css");
@import url("fonts.css");

.box{
    height: 1000px;
    width: 300px;
    float: left;
    padding-top: 415px

}

.text{
    color: white;
    font-size: 150px;
    text-shadow: yellowgreen 10px;
    height: 1000px;
    width: 300px;
    text-align:center

}
.box1{
    background: linear-gradient(to top, rgb(50, 20, 220), rgb(109, 36, 36));  
}
.box2{
    background: linear-gradient(to top, rgb(43, 220, 20), rgb(83, 59, 151));
}
.box3{
    background: linear-gradient(to top, rgb(126, 81, 90), rgb(0, 217, 255));
}
.box4{
    background: linear-gradient(to top, rgb(119, 119, 119), rgb(255, 238, 0));
}
.box5{
    background: linear-gradient(to top, rgb(42, 1, 224), rgb(199, 199, 199));
}
.box6{
    background: linear-gradient(to top, rgb(224, 139, 12), rgb(0, 0, 0));
}
.box7{
    background: linear-gradient(to top, rgb(140, 20, 220), rgb(63, 151, 75));
}